#wrapper{
 background-image: url("../img/3-w512.jpg");
 background-repeat:repeat-x repeat-y;
 background-size:870px 870px;
 height:870px;
 cursor: crosshair;
 position:relative;
 z-index:1;
}
.can{
    z-index:100;
    overflow:hidden;
}
.layer{
    position:absolute;
    top:0;
    left:0;
    z-index:1!important;
}
#canvasbuffer{
    display:none;
  
}
#depot{
    display:block;
    
 

}
#menu{
 background-color:#fff;  
}

.colorwheel{
    
    float: left;
    height: 150px;
    margin-right: 20px;
    text-align: left;
    width: 150px;
}
.input_example{ background-color:#FF0000;}
.colorwrapper{ padding:10px;}
#messagesDiv{
    height: 290px;
overflow-y: scroll;
}
.hidden{
    display:none;
}
#slider-vertical{
    margin-left: 22px;
}

#sizewrapper{
    position: absolute;
    left: 54px;
    min-width: 15px!important;
    top: 29px;
    width: 60px;
}